[submodule "mercury"]
	path = mercury
	url = https://github.com/EthanYuan/mercury.git

[submodule "open-transaction-pool"]
	path = open-transaction-pool
	url = https://github.com/EthanYuan/open-transaction-pool.git
